[submodule "Optimus.LibOrquestrator"]
	path = Optimus.LibOrquestrator
	url = https://github.com/ByteJunk/Optimus.LibOrquestrator
	branch = main
[submodule "Optimus.WPF"]
	path = Optimus.WPF
	url = ./Optimus.WPF/
